.casa{
  border: 1px solid black;
  height: 200px;
  background-color: gray;
  text-align: center;
}

.casa span{
  font-size: 10em;
  padding-top: 30px;
}
.glyphicon-fire{
  color: red;
}

.glyphicon-tint{
  color: blue;
}
